@font-face {
  font-family: "Comfortaa-Medium";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  text-align: center;
  font-family: "Comfortaa-Medium";
}

body {
  background: lightgray;
}

nav {
  background: linear-gradient(
    90deg,
    rgb(164, 164, 171) 18%,
    rgb(141, 145, 151) 62%,
    rgb(229, 229, 229) 99%
  );
  box-shadow: lightslategray 0px 0px 10px 0px;
  position: fixed;
  margin-bottom: 2%;
}

.navbar-brand {
  font-weight: bold;
  padding: 0%;
  font-family: "Comfortaa-Medium";
}

nav li a {
  color: white;
  text-decoration: none;
  font-family: "Comfortaa-Medium";
}

nav li {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Alinea el primer elemento a la izquierda */
nav .navbar-nav > li:first-child {
  margin-left: 0;
}

#input {
  font-weight: bold;
}

.card {
  background: linear-gradient(
    90deg,
    rgb(164, 164, 171) 18%,
    rgba(234, 234, 234, 0.418) 62%,
    rgba(0, 213, 255, 0.196) 99%
  );
}

#login {
  width: 50%;
}

.custom-table {
  border-radius: 10px; /* Puedes ajustar el valor según tus preferencias */
  overflow: hidden; /* Para asegurarte de que el border-radius se aplique correctamente */
}

.bienvenido {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2%;
  background-color: transparent;
  text-align: center;
  align-items: center;
}

.bienvenido-nombre {
  padding: 2%;
}

.panel {
  background: linear-gradient(to right, #818283, #787979);
  padding: 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
}
.panel .panel-heading {
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.panel .panel-heading .title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  margin: 0;
}
.panel .panel-heading .btn {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover {
  color: #fff;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}
.panel .panel-heading .form-control {
  color: #fff;
  background-color: transparent;
  width: 35%;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  outline: none;
}
.panel .panel-heading .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 500;
}
.panel .panel-body {
  padding: 0;
}
.panel .panel-body .table thead tr th {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  border: none;
}
.panel .panel-body .table tbody tr td {
  color: #fff;
  font-size: 15px;
  padding: 10px 12px;
  vertical-align: middle;
  border: none;
  background-color: transparent !important;
}
.panel .panel-body .table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}
.panel .panel-body .table tbody .action-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li {
  display: inline-block;
  margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a {
  color: #fff;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover {
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after {
  content: attr(data-tip);
  color: #fff;
  background-color: #111;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 4px;
  text-transform: capitalize;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -32px;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after {
  content: "";
  height: 15px;
  width: 15px;
  padding: 0;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
  display: block;
}
@media only screen and (max-width: 767px) {
  .panel .panel-heading .title {
    text-align: center;
    margin: 0 0 10px;
  }
  .panel .panel-heading .btn_group {
    text-align: center;
  }
}
.select {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid black;
  border-radius: 10px;
}
div.at-container {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.at-item {
  color: black;
  font-size: 2em;
  font-weight: bold;
  animation-name: focus-in-expand-top;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes focus-in-expand-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateY(-300px);
    filter: blur(12px);
    opacity: 0;
  }
  0% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.productos a {
  text-decoration: none;
  color: black;
}

.btn-with-margin {
  margin-bottom: 10px; /* Puedes ajustar el valor según tus necesidades */
}